<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.pc.rbac_system.mapper.SignMapper">

    <insert id="putAll" parameterType="list">
        insert into wx_sign (student_id,sign_in,create_time,student_name,late_time) values
        <foreach collection="list" item="item" separator=",">
            (#{item.studentId},#{item.signIn},#{item.createTime},#{item.studentName},#{item.lateTime})
        </foreach>
    </insert>

    <select id="findAllSignStatus" resultType="com.pc.rbac_system.model.SignStatus">
        select * from wx_sign_status
    </select>
</mapper>
